version: "3"
services:
  # crabi-api:
  #   build:
  #     context: .
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - pld-container
  #     - mongodb

  pld-container:
    image: vligascrabi/crabi-pld-test:v1
    ports:
      - "3000:3000"
    
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

volumes:
  mongodb-data:
